.myclass{
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    /*comentario*/
    box-shadow: 0 3px 9px rgb(0, 0, 0, 50%);
    outline: 0;
    padding-top: 243px;
    padding-bottom: 243px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 100px;
    margin-right: 100px;  
    
} 

.calculator{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

    #historial {
        position: absolute;
        color: white;
        top: 0px;
        
        right: 21px;
    }

    .calculator-screen {
        width: 100%;
        height: 95px;
        border: none;
        background-color: #22344B;
        color: #fff;
        text-align: right;
        padding-right: 20px;
        padding-left: 10px;
        font-size: 4rem;
    }
    input#pantalla[value="0"] {
        padding-top: 12px;
    }

    .calculator-keys {
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;

        button {
            height: 60px;
            font-size: 30px;
        }
    
        .operator{
            background-color: #009199;
            font-weight: bold;
            color: white;

            outline:none;
            transition: .3s all;
            box-shadow: 0px 0px 0px white;

            &:focus {
                outline:none;
                box-shadow: 0px 0px 10px #009199;
            }
        }

        .clearclass{ /*clase de los clear y all clear*/
            background-color: #FF7474;
            color: white;

            outline:none;
            transition: .3s all;
            box-shadow: 0px 0px 0px white;

            &:focus {
                outline:none;
                box-shadow: 0px 0px 10px #ff6961e6;
            }
        }

        .number{
            outline:none;
            transition: .3s all;
            box-shadow: 0px 0px 0px white;

            &:focus {
                outline:none;
                box-shadow: 0px 0px 10px #22344B;
            }
        }
    
        .plus{
            grid-column: 4/5;
            grid-row: 3/6; 
            height: 100%;
        }

        .equal-sign {
            background-color: #009199;
            color: white;
        }
       
    }
}